@import url("components/buttons.css");
@import url("components/banner.css");
div{margin-left: 290px;
margin-right: 290px;
}
body{text-align: center;}
.imager{
    height: 160px;
    width: 320px;
}
div{background-color: rgb(50, 104, 212);
border-radius: 8px;
box-shadow: black;}

#fond{
    width: 110vw;
    opacity: 0.9;
position: fixed;
top: 0;
left: 0;
z-index: -1;
filter: brightness(0.6);
}
#debut { height: 200px;
width: 400px;}
h1{
    color:aliceblue ;
}
h2{
    color: aliceblue;
}
h3{
    color: aliceblue;
}